<%- include("template/header") %>
        <div class="container-fluid">
            <% for(let i = 0; i < tabla.length; i++) { %>
            <div class="media media-hover">
                <div class="media-left media-middle">
                    <a href="#!" class="tooltips-general" data-toggle="tooltip" data-placement="right" title="M치s informaci칩n del libro">
                      <img class="media-object" src="assets/img/book.png" alt="Libro" width="48" height="48">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><%= tabla[i][1] %></h4>
                    <div class="pull-left">
                        <strong>Isbn: <%= tabla[i][0] %><br>
                    </div>
                    <p class="text-center pull-right">
                        <a href="#!" class="btn btn-info btn-xs" style="margin-right: 10px;"><i class="zmdi zmdi-info-outline"></i> &nbsp;&nbsp; M치s informaci칩n</a>
                    </p>
                </div>
            </div>
            <% } %>
        </div>
        <%- include("template/footer") %>