<%- include("template/header") %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 lead">
                    <ol class="breadcrumb">
                      <li><a href="category">Nueva categoría</a></li>
                      <li class="active">Listado de categorías</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <h2 class="text-center all-tittles">Lista de categorías</h2>
            <div class="div-table">
                <div class="div-table-row div-table-head">
                    <div class="div-table-cell">Categoría ID</div>
                    <div class="div-table-cell">Nombre</div>
                </div>
                <% for(let i = 0; i < tabla.length; i++) { %>
                <div class="div-table-row">
                    <div class="div-table-cell"><%= tabla[i][0] %></div>
                    <div class="div-table-cell"><%= tabla[i][1] %></div>
                </div>
                <% } %>
            </div>
        </div>
        <%- include("template/footer") %>