<%- include("template/header") %>
        <br><br><br>
        <h3 class="text-center all-tittles">resultados de la búsqueda</h3>
        <h2 class="text-center"><i class="zmdi zmdi-mood-bad zmdi-hc-5x"></i><br><br>Lo sentimos, no hemos encontrado ningún libro con el nombre <strong>ingresado</strong> en el sistema</h2>
<%- include("template/footer") %>