<%- include("template/header") %>
        <div class="conteiner-fluid">
            <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
                <li role="presentation"><a href="admin">Administradores</a></li>
                <li role="presentation"  class="active"><a href="teacher">Docentes</a></li>
                <li role="presentation"><a href="student">Estudiantes</a></li>
                <li role="presentation"><a href="personal">Personal administrativo</a></li>
            </ul>
        </div>
        <div class="container-fluid"  style="margin: 50px 0;">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="assets/img/user02.png" alt="user" class="img-responsive center-box" style="max-width: 110px;">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                    Bienvenido a la sección para registrar nuevos docentes. Para registrar un docente debes de llenar todos los campos del siguiente formulario, también puedes ver el listado de docentes registrados
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 lead">
                    <ol class="breadcrumb">
                      <li class="active">Nuevo docente</li>
                      <li><a href="listteacher">Listado de docentes</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container-flat-form">
                <div class="title-flat-form title-flat-blue">Registrar un nuevo docente</div>
                <form class="form-padding" action="/listteacher" method="POST">
                    <div class="row">
                        <div class="col-xs-12">
                            <legend><i class="zmdi zmdi-account-box"></i> &nbsp; Datos básicos</legend><br>
                        </div>
                        <div class="col-xs-12">
                            <div class="group-material">
                                <input type="number" name="matricula" class="material-control tooltips-general" placeholder="Escriba la matricula del docente" required="" maxlength="20" data-toggle="tooltip" data-placement="top" title="Matricula de estudiante">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Matricula</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input type="text" name="nombre" class="material-control tooltips-general" placeholder="Escribe aquí los nombres del docente" required="" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,50}" maxlength="50" data-toggle="tooltip" data-placement="top" title="Nombres del docente">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Nombre(s)</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input type="text" name="apellido" class="material-control tooltips-general" placeholder="Escribe aquí los apellidos del docente" required="" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,50}" maxlength="50" data-toggle="tooltip" data-placement="top" title="Apellidos del docente">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Apellido(s)</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input type="text" name="telefono" class="material-control tooltips-general" placeholder="Teléfono" pattern="[0-9]{8,8}" required="" maxlength="8" data-toggle="tooltip" data-placement="top" title="Solamente 10 números">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Teléfono</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input type="text" name="materia" class="material-control tooltips-general" placeholder="Materia" required="" maxlength="200" data-toggle="tooltip" data-placement="top" title="Escribe la materia">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Materia</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input type="password" name="contrasena" class="material-control tooltips-general" placeholder="Contraseña" required="" maxlength="200" data-toggle="tooltip" data-placement="top" title="Escribe una contraseña">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Contraseña</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input type="date" name="fecha" class="material-control tooltips-general" placeholder="Contraseña" required="" maxlength="200" data-toggle="tooltip" data-placement="top" title="Escribe una contraseña">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Fecha de nacimiento</label>
                            </div>
                        </div>
                       <div class="col-xs-12">
                        <div class="col-xs-12">
                            <legend><i class="zmdi zmdi-account-box"></i> &nbsp; Dirección</legend><br>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                 <input type="text" name="calle" class="material-control tooltips-general" placeholder="Escribe la calle" required="" maxlength="200" data-toggle="tooltip" data-placement="top" title="Calle">
                                 <span class="highlight"></span>
                                 <span class="bar"></span>
                                 <label>Calle</label>
                            </div>
                         </div>
                         <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                 <input type="number" name="numero" class="material-control tooltips-general" placeholder="Número" required="" maxlength="200" data-toggle="tooltip" data-placement="top" title="Número">
                                 <span class="highlight"></span>
                                 <span class="bar"></span>
                                 <label>Número</label>
                            </div>
                         </div>
                         <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                 <input type="number" name="cp" class="material-control tooltips-general" placeholder="Código postal" required="" maxlength="200" data-toggle="tooltip" data-placement="top" title="CP">
                                 <span class="highlight"></span>
                                 <span class="bar"></span>
                                 <label>CP</label>
                            </div>
                         </div>
                        <div class="col-xs-12">
                            <p class="text-center">
                                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                <button type="submit" class="btn btn-primary"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                            </p> 
                       </div>
                    </div>
                </form>
            </div>
        </div>
        <%- include("template/footer") %>